# Virtual environment
venv

# Python compiled objects
*.pyc

# Database files
*.db

# Ignore collected static files
{{ project_name }}/static

# Local settings file
localsettings.py

# Pycharm folders
.idea
